<div class="image-background">
  <div class="oficina_v">
    <img src="assets/oficina_virtual.png" alt="oficina_virtual" class="image_oficina" />
  </div>
  <div class="cuadros">
    <div class="diamond diamond1"></div>
    <div class="diamond diamond2"></div>
    <div class="diamond diamond3"></div>
  </div>
</div>
<div class="container2">
  <div class="rectangulo"></div>
  <div class="rowjustify-content-center">
    <div class="col-md-12">
      <img src="assets/IconC2.png" alt="imagen_candado" class="header-image" />
      <p class="header">Cambiar Contraseña:</p>
      <div class="card-header-content">
        <p class="info-text">Usuario: {{ user }}</p>
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="content">
          <div class="p-field">
            <div class="box">
              <div class="input-container">
                <label for="newPassword" style="font-weight: 500;  margin-bottom: 5px;">Nueva contraseña</label>
                <div class="nueva-clase">
                <input id="newPassword" [type]="showPassword ? 'text' : 'password'" class="input-with-icon" pInputText [(ngModel)]="newPassword"
                    name="newPassword" placeholder="Nueva contraseña" required minlength="8" (input)="isValidPassword()">
                    <i class="pi pi-exclamation-circle"
                    (click)="showPasswordHint()"
                    title="Sugerencia de contraseña"
                    style="color: white; margin-right: 31px; font-size: 20px; opacity: 0.4; background-color:rgb(0, 0, 0); border-radius: 100%;"></i>

                   <i style="color: rgb(255, 255, 255); padding: -10px; margin-right: 26px; font-size: 20px; opacity: 0.3; background-color:rgba(0, 0, 0, 0.532); width: 1px;">|</i>


                  <div class="icon-container"> </div>
                    <i class="pi"
                    [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
                    (click)="togglePasswordVisibility()"
                    title="Mostrar/Ocultar Contraseña"
                    style="font-size: 20px; opacity: 0.3;"></i>


                </div>
                  <ul *ngIf="showHint" class="hint-list">
                    <li>•	Mínimo 8 caracteres</li> 
                    <li>• Mayúsculas y minúsculas</li>
                    <li>• Números y símbolos (!#$%^&*)</li>
                  </ul>
                  <p *ngIf="newPassword.length > 0 && !isValidPassword()" class="error-text" style="margin-top: 2px;" >
                    No cumple con los requisitos de contraseña segura.
                  </p>
              </div>
            </div>

            <div class="box">
              <label for="confirmPassword" style="font-weight: 500; margin-bottom: 5px;">Confirmar contraseña</label>
              <input id="confirmPassword" type="password" class="input-with-icon" pInputText
                [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" required
                minlength="8">
              <p *ngIf="confirmPassword.length > 0 && confirmPassword !== newPassword" class="error-text">Las
                contraseñas
                no coinciden.</p>
            </div>
          </div>
          <div class="button-group">
            <button type="submit" class="btn-primary">Aceptar</button>
          </div>
        </div>
        <p-toast key="passwordToast">
          <ng-template let-message pTemplate="message">
            <div [innerHTML]="message.detail"></div>
          </ng-template>
        </p-toast>
      </form>
    </div>
  </div>
</div>





