<div class="image-background">
  <div class="oficina_v">
    <img src="assets/oficina_virtual.png" alt="oficina_virtual" class="image_oficina" />
  </div>
  <div class="cuadros">
    <div class="diamond diamond1"></div>
    <div class="diamond diamond2"></div>
    <div class="diamond diamond3"></div>
  </div>
</div>
<div class="container2">
  <div class="rectangulo"></div>
  
  <div class="rowjustify-content-center">
    <div class="col-md-12">
      <img src="assets/IconC2.png" alt="imagen_candado" class="header-image" />
      <p class="header">Cambiar Contraseña:</p>

      <ul *ngIf="showHint" class="hint-list">
        <li>•	Mínimo 8 caracteres</li> 
        <li>• Mayúsculas y minúsculas</li>
        <li>• Números y símbolos (!#$%^&*)</li>
      </ul>

      <div class="card-header-content">
        <p class="info-text">Usuario: {{ user }}</p>
      </div>

      <form (ngSubmit)="onSubmit()">
        <div class="content">
          <div class="p-fluid">
            <div class="box1">
              <div class="input-container">
                <label for="newPassword" style="font-weight: 500;  margin-bottom: 5px;  margin-top: 10px; " class="text1">Nueva contraseña</label>
                <div class="nueva-clase">
                <input id="newPassword"  [type]="showPassword ? 'text' : 'password'" class="input-with-icon" pInputText [(ngModel)]="newPassword"
                    name="newPassword" placeholder="Nueva contraseña" required minlength="8" (input)="isValidPassword()">
                    <i class="pi pi-exclamation-circle"
                    (click)="showPasswordHint()"
                    title="Sugerencia de contraseña"
                    style="color: white; margin-right: 31px; font-size: 20px; opacity: 0.4; background-color:rgba(71, 70, 70, 0.824); border-radius: 100%;"></i>

                   <i style="color: rgb(255, 255, 255); padding: -10px; margin-right: 26px; font-size: 20px; opacity: 0.3; background-color:rgba(0, 0, 0, 0.532); width: 1px;">|</i>


                  <div class="icon-container"> 
                    <i class="pi"
                    [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
                    (click)="togglePasswordVisibility()"
                    title="Mostrar/Ocultar Contraseña"
                    style="font-size: 20px; opacity: 0.3;"></i>

                  </div>
                </div>
                  
              </div>
            </div>

            <div class="box2">
                <ul *ngIf="newPassword.length > 0 && !allValidationsPassed" class="checklist">
                  
                  <li>
                    <i class="pi" [ngClass]="isValidMayus() ? 'pi-check-circle success-icon' : 'pi-circle'"></i>
                    Minúsculas y mayúsculas
                  </li>
                  <li>
                    <i class="pi" [ngClass]="isValidNumber() ? 'pi-check-circle success-icon' : 'pi-circle'"></i>
                    Número (0-9)
                  </li>
                  <li>
                    <i class="pi" [ngClass]="isValidCharacter() ? 'pi-check-circle success-icon' : 'pi-circle'"></i>
                    Caracter especial (!#$%&*)
                  </li>
                  <li>
                    <i class="pi" [ngClass]="newPassword.length >= 8 ? 'pi-check-circle success-icon' : 'pi-circle'"></i>
                    Al menos 8 caracteres
                  </li>
                </ul>

              <label for="confirmPassword" style="font-size: 13px; font-weight: 500; margin-bottom: 10px; margin-top: 20px;" class="text1">Confirmar contraseña</label>
              <div class="nueva-clase">
              <input id="confirmPassword" [type]="showPassword2 ? 'text' : 'password'" class="input-with-icon" pInputText
                [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" required
                minlength="8">
                
                <div class="icon-container"> 
                  <i class="pi"
                  [ngClass]="showPassword2 ? 'pi-eye-slash' : 'pi-eye'"
                  (click)="togglePasswordVisibility2()"
                  title="Mostrar/Ocultar Contraseña"
                  style="font-size: 20px; opacity: 0.3;"></i> </div>
                </div>

              <p *ngIf="confirmPassword.length > 0 && confirmPassword !== newPassword" class="error-text">Las
                contraseñas no coinciden.</p>

                
               
                
            </div>
            
          </div>
          <div class="button-group">
            <button type="submit" class="btn-primary">Aceptar</button>
          </div>
         
        </div>
        <p-toast key="passwordToast">
          <ng-template let-message pTemplate="message">
            <div [innerHTML]="message.detail"></div>
          </ng-template>
        </p-toast>
      </form>
    </div>
  </div>
</div>





