
<div class="image-background">
  <!--cambiar de acuerdo a la version -->
  <div class="version">Versión 1.0</div>       
  <div class="oficina_v">
    <img src="assets/oficina_virtual.png" alt="oficina_virtual" class="image_oficina" />
  </div>
  <div class="cuadros">
    <div class="diamond diamond1"></div>
    <div class="diamond diamond2"></div>
    <div class="diamond diamond3"></div>
  </div>
</div>

<div class="container2">
  <div class="rectangulo"></div>
  <div class="rowjustify-content-center">
    <div class="col-md-12">
      <img src="assets/IconC.png" alt="imagen_candado" class="header-image" />
      <p class="header">Restablecer contraseña</p>
      
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="info-fill" fill="rgb(239, 182, 90)" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
      </svg>
      
      <div *ngIf="showAlert" [ngClass]="'alert alert-' + alertType + ' d-flex align-items-center'" role="alert" style="margin-left: 65px; margin-top: 2px; margin-bottom: -10px;  padding: 20px 10px 20px 20px; border-left: solid rgba(236, 148, 67, 1);">   
          <svg class="bi flex-shrink-0 me-2" width="24" height="20" role="img" aria-label="Info:">
            <use xlink:href="#info-fill"/>
          </svg>
          <div class="text-alert">{{ alertMessage }}</div>
      </div>


      <form (ngSubmit)="onSubmit()">
        <div class="content">
          <div class="p-fluid">
            <div class="box">
              <label for="email" style="font-weight: 500;  margin-bottom: 5px; margin-top: 20px;" class="text1">Usuario</label>
              <input id="email" type="email" class="input-with-icon" pInputText [(ngModel)]="user" name="email"
                 placeholder="nombreusuario" required>
            </div>
          </div>
          <div class="button-group">
            <span class="dots" (click)="navigateToLogin()">.&nbsp;.</span> <!--&nbsp; es un espacio no rompible de html -->
            <button type="submit" class="btn-primary">Enviar</button>
          </div>
        </div>
      </form>
      <div *ngIf="showAlert2 && alertType==='info'" class="alert-custom" role="alert" [innerHTML]="alertMessage2">
        {{ alertMessage2 }}
      </div>

    </div>
  </div>

  <p-dialog [(visible)]="displayDialog" [modal]="true" [style]="{'height': '221px', 'width': '617px','text-align': 'center' ,'border-radius': '8px 8px 8px 8px' }">
    <ng-template pTemplate="header">
      <div class="col-md-12">
        <p class="header" style="margin-bottom: 0px;">Restableciendo contraseña</p>
        <div class="card-header-content" style="margin-top: 10px; margin-bottom: -15px;">
          <p class="info-text">Estamos procesando tu solicitud.</p>
        </div>
      </div>
    </ng-template>
    <div class="dialog-content">
      <img src="assets/brillos.png" alt="fondo" class="brillos" />
      <img src="assets/gifCandado.gif" alt="gif_candado" class="icon_dialog" />
    </div>
  </p-dialog>

  

      <p-toast key="resetPasswordToast">
        <ng-template let-message pTemplate="message">
          <div [innerHTML]="message.detail"></div>
        </ng-template>
      </p-toast>
</div>
