<div class="image-background">
    <div class="oficina_v">
      <img src="assets/oficina_virtual.png" alt="oficina_virtual" class="image_oficina" />
    </div>
    <div class="cuadros">
      <div class="diamond diamond1"></div>
      <div class="diamond diamond2"></div>
      <div class="diamond diamond3"></div>
    </div>
  </div>
  <div class="container2">
    <div class="rectangulo"></div>
    <div class="rowjustify-content-center">
      <div *ngIf="loading;" class="spiner">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div class="col-md-12">
        <img src="assets/IconC3.png" alt="imagen_candado" class="header-image" />
        <div class="card-header-content">
          <p class="info-text">{{ user }}</p>
        </div>
        <p class="header">
          ¡Tu contraseña se cambió exitosamente,<br>
           ahora puedes iniciar sesión con<br> 
           tu nueva contraseña!
        </p> 
        
        <div class="button-group">
          <button class="btn-primary" (click)="redirectToPasswordReset()">Iniciar sesión</button>
          
        </div>
      </div>
    </div>
  </div>
